%button {
  -webkit-font-smoothing: antialiased;
  background-color: $base-button-color;
  //border-radius: $base-border-radius;
  color: white;
  display: inline-block;
  font-size: $base-font-size;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  @include fontlight;
  @include transition(background 0.1s linear);
  &:hover {
    background-color: $hover-button-color;
    color: white;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}



.btn,
.btn-important {
  @extend %button;
}

.btn {}

.btn-important {}



.btn-blue {
  display: block;
  width: 80%;
  padding: $baseline*1.75 $baseline*2 $baseline*1.25 $baseline*2;
  background-color: $light-blue;
  color: $white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
  @include linear-gradient($light-blue, darken($light-blue,10%));
  text-align: center;
  position: relative;
  margin: 0 auto;
  span {
    font-size: em(21);
  }
  &:active {
    color: $white;
  }
  &:visited {
    color:$white;
  }
  &.arrow-down {
    padding-right: 3em;
    text-align: left;
    &:after {
      content: '';
      border-left: 1px solid $whitetrans;
      background-image: url(img/ico-arrowdown.svg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: em(16) em(16);
      display: block;
      width: 3em;
      right: 0;
      top: 0;
      bottom: 0;
      position: absolute;
    }
  }
  &:hover {
    background-color: $blue;
    color: $white;
    @include linear-gradient(darken($light-blue,10%), darken($light-blue,10%));
    
  }
  &.active {
    background-color: $blue;
    color: $white;
    @include linear-gradient(darken($light-blue,10%), darken($light-blue,10%));
    &:after {
      content: '';
      border-left: 1px solid $whitetrans;
      background-image: url(img/ico-arrowup.svg);
    }
  }

  @include mq(medium) {
    display: inline-block;
    width: auto;
  }
}


button,
input[type="submit"] {
  @extend .btn;
  @include appearance(none);
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}