@mixin nowrap {
	white-space:nowrap;
	text-overflow:ellipsis;
}
// ------------------------------------------------------------
// Omega Reset
// ------------------------------------------------------------
@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}

// Other
@mixin margin-fix {
	> *:first-child {
		margin-top:0;
	}
	> *:last-child {
		margin-bottom:0;
	}
}

//Images
@mixin img-center {
	display:block;
	margin:0  auto;
}