/*=============== Design Patterns ===============*/

//Wraps
.inner-wrap {
  @include outer-container;
}
.inner-wrap-narrow {
  @extend .inner-wrap;
  max-width:60em !important;
}
.inner-wrap-fullwidth {
  @extend .inner-wrap;
  max-width:100% !important;
}
.site-wrap {
	overflow:hidden;
	position:relative;
}
.dark-module {
  color: $white;
  background-color: $dark-blue;
  h2, h3 {
    color:$white;
  }
  /*a {
		color:$white;
		&:visited {
			color:$white;
		}
		&:hover {
			color:$white;
			text-decoration:none;
		}
	}*/
}

.lightblue-module {
  background-color: $light-gray;
}

//Media Object
.media-object {
  overflow: hidden;
}

.media-object-img {
  width: 20%;
  float: left;
  display: block;
  margin-right: 5%;
  img {
    width: 100%;
  }
}

.media-object-body {
  width: 75%;
  float: left;
}

.media-object-header {
  margin-top: 0;
  margin-bottom: .15em;
}

.media-grid-2 {
  > * {
    margin-bottom: $baseline*2;
  }
  @include mq(medium) {
    > * {
      @include span-columns(4.5 of 9);
      @include omega(2n);
      margin-bottom: $baseline*3;
    }
  }
}


//Other
.post-meta {
  margin-bottom: $baseline*2;
}

.wp-pagenavi a,
.wp-pagenavi span {
  border: 0 !important;
}

.raquo {
  padding-right: em(21);
  background-image: url(img/ico-raquo.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: em(16) em(16);
  /*&:after {
		content:'';
		background-image:url(img/ico-raquo.png);
		background-position:center center;
		background-repeat:no-repeat;
		height:em(16);
		width:em(16);
		display:inline-block;
	}*/
}

.cta-link {
  font-family: $serif;
  font-style: italic;
  background-size: .9em .9em;
  padding-right: 1.1em;
  font-weight: bold;
  border-bottom:0;
  color:$light-blue;
  &.cta-link-large {
    font-size: em(21);
  }
}

.section-header {
  position: relative;
  font-weight:normal;
  margin-top:0;
  margin-bottom: .75em;
  &:after {
    content: '';
    display: block;
    height: 5px;
    width: 175px;
    background-color: $blue;
    margin-top: .45em;
  }
}
/*=============== Social Media ===============*/

.social-wrap {
  overflow: hidden;
  a {
    display: block;
    float: left;
    width: 25%;
    text-align: center;
    &:hover {
      opacity: .75;
    }
  }
  img {
    display: inline-block;
    margin: 0 auto;
    width: 1.1em;
    height: auto;
    vertical-align: middle;
  }
}
/*=============== Inner Wrap ===============*/

.inner-wrap {
  @include outer-container;
}
/*=============== Site Header ===============*/

.site-header {
  //background-color:$dark-blue;
  z-index: 10;
  .inner-wrap {
    padding-top: 0;
    padding-bottom: 0;
  }
  .utility-nav {
    @include transition (all .2s ease-in-out);
  }
  @include mq(medium) {
    position: relative;
    //font-size:em(12);
    //position:fixed;
    //width:100%;
    //z-index:10;
    margin-bottom: -$baseline*4.4;
    height: em(91);
    .inner-wrap {
      position: relative;
    }
  }
  @include mq(large) {
    font-size: em(16);
  }
}

.site-header-outer-wrap {
  @include mq(medium) {
    height: em(91);
    position: fixed;
    left: 0;
    right: 0;
  }
}

.site-header-top {
  height: $nav-height;
  background-color: $nav-background;
  z-index: 2;
  .inner-wrap {
    min-height: em(53);
    @include transition (all .2s ease-in-out);
  }
  @include mq(medium) {
    position: relative;
    .inner-wrap {
      padding-left: em(101);
      padding-top: 0;
    }
  }
  @include mq(large) {
    .inner-wrap {
      padding-left: em(109);
    }
  }
}

.site-logo {
  //@include span-columns(1 of 6);
  display: block;
  width: em(53);
  //padding:.35em .7em .35em 0;
  z-index: 3;
  position: absolute;
  top: 0;
  @include transition (all .2s ease-in-out);
  @include mq(medium) {
    width: em(85);
    position: absolute;
    padding: 0;
    left: $baseline*2;
    top: 0;
  }
  @include mq(large) {
    left: $baseline*3;
  }
}

//Site Header Icons
.sh-icons {
  float: right;
  @include mq(medium) {}
}

%sh-ico {
  display: inline-block;
  //padding-top: 1.875em;
  width: 3em;
  height: $nav-height;
  //background-color: $nav-hover;
  margin-left: .5em;
  text-align: center;
  color: white;
  position: relative;
  &:before {
    content: '';
    //background-color:green;
    background-repeat: no-repeat;
    background-position: center bottom;
    //position:absolute;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    height: $nav-height/1.70;
  }
  //background-color:red;
  span {
    font-size: .75em;
    //background-color:red;
    display: block;
  }
  &:visited {
  	color:white;
  }
  &:hover {
    color: white;
  }
  &:active {
  	color:white;
  }
  @include mq(medium) {
    //float:right;
  }
}

.sh-ph {
  margin: 0;
  i {
    font-style: normal;
    //display:none;
  }
  @include mq(medium) {
    font-size: $medium-font-size;
    i {
      //display:inline;
    }
  }
}

.sh-ico-search {
  @extend %sh-ico;
  &:before {
    background-image: url(img/ico-search.svg);
  }
}

.sh-ico-menu {
  @extend %sh-ico;
  &:before {
    background-image: url(img/ico-nav.svg);
  }
  @include mq(medium) {
    display: none;
  }
}
/*
.site-nav {
	background-color:$dark-blue;
	position:relative;
	z-index:2;
	.inner-wrap {
		position:relative;
		min-height:em(53);
		@include transition (all .2s ease-in-out);
		//padding-top:.35em;
		//padding-bottom:.35em;
	}
	.menu {
		//padding-top:em(53);
	}
	@include mq(medium) {
		.inner-wrap {
			padding-left:em(101);
			padding-top:0;
		}	
		.menu {
			//padding-top:0;
		}
	}
	@include mq(large) {
		.inner-wrap {
			padding-left:em(109);
		}	
	}
}
*/

.utility-nav {
  //background-color:red;
  overflow: hidden;
  //float:right;
  @include whitetransbg;
  //padding-top:$baseline*.7;
  @include transition (all .2s ease-in-out);
  position: relative;
  z-index: 1;
  display: none;
  .inner-wrap {
    padding-top: $baseline*.7;
  }
  .social-wrap {
    width: 20%;
    float: right;
  }
  @include mq(medium) {
    height: $baseline*4.4;
    display: block;
  }
}

.nav-sticky {
  @include mq(medium) {
    .site-logo {
      width: em(53);
    }
    .utility-nav {
      margin-top: -$baseline*4.4;
    }
    .site-header-top {
      .inner-wrap {
        padding-left: em(69);
      }
    }
  }
  @include mq(large) {
    .site-header-top {
      .inner-wrap {
        padding-left: em(77);
      }
    }
  }
}


/*=============== Video Background ===============*/
video { 
 	position: absolute;
  left:0;
  top:0;
  
  z-index: 0;
 	//background: url('http://cdn2.hubspot.net/hub/242200/file-2554085545-jpg/img/site-intro-bg-color.jpg') no-repeat;
  //background-size: cover;
  transition: 1s opacity;
  display:none;
  //opacity:.5;
  @include mq(medium) {
    display:block;
  	position: absolute;
  right: 0; 
  top: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -1;
  }
  @include mq(large) {
		//height: auto;
  }
}
.stopfade { 
   opacity: .5;
}
@media screen and (max-device-width: 800px) {
  #bgvid { display: none; }
}

/*=============== Page Intro ===============*/
.page-intro {
  //background-image: url(img/site-intro-initiatives-mobile.jpg);
  background-repeat: no-repeat;
  background-color: $dark-blue;
  background-position: top center;
  //margin-top:$baseline*7;
  position: relative;
  background-size:cover;
  position:relative;
  overflow:hidden;
  .page-intro-wrap {
    position: relative;
    
    //padding-bottom:$baseline*22;
    padding-bottom: $baseline*6;
  }
  @include mq(medium) {
    //background-position:center $baseline*7;
      background-image: url(img/page-header-bg.jpg);
     background-color:$dark-blue;
    .page-intro-wrap {
      //height: $baseline*74;
      padding-top: $baseline*12;
      padding-bottom: $baseline*9;
      //padding-bottom:$baseline*22;
    }
  }
  @include mq(huge) {
    background-size: 100% auto;
  }
}
.page-intro-text {
  text-align: center;
  color: $white;
  @include mq(medium) {
    margin-top: $baseline*13;
    text-align: right;
  }
}
.page-intro-header {
  line-height: 1.15em;
   margin-bottom:0;
   font-style:italic;
      font-family:$serif;
    span {
      font-style:italic;
      font-family:$serif;
      font-size: 1.08620689655172em;
    }
   
  @include mq(medium) {
    font-size: em(58);
    //margin-bottom: 0.68965517241379em;
    margin-bottom:0;
    .serif {
      font-size: 1.08620689655172em;
      /*63px/58px*/
    }
  }
}
.page-intro-subheader {
  margin-bottom:0;
  color:$white;
}
/*=============== Site Intro ===============*/

.site-intro {
  //background-image: url(img/site-intro-initiatives-mobile.jpg);
  background-repeat: no-repeat;
  background-color: $dark-blue;
  background-position: top center;
  //margin-top:$baseline*7;
  position: relative;
  background-size:cover;
  position:relative;
  overflow:hidden;
  .site-intro-wrap {
    position: relative;
    
    //padding-bottom:$baseline*22;
  }
  @include mq(medium) {
    //background-position:center $baseline*7;
    //background-image: url(img/site-intro-initiatives.jpg);
    background-color:rgba(14,43,54,.5);
    .site-intro-wrap {
      //height: $baseline*74;
      padding-top: $baseline*18;
      //padding-bottom:$baseline*22;
    }
  }
  @include mq(huge) {
    background-size: 100% auto;
  }
}

.site-intro-text {
  text-align: center;
  color: $white;
  @include mq(medium) {
    margin-top: $baseline*13;
    text-align: right;
  }
}

.site-intro-header {
  line-height: 1.15em;
  @include mq(medium) {
    font-size: em(58);
    margin-bottom: 0.68965517241379em;
    .serif {
      font-size: 1.08620689655172em;
      /*63px/58px*/
    }
  }
}

.site-intro-subtext {
  font-size: em(24);
  line-height: 1.25em;
}

.site-intro-blockquote {
  @include bluetransbg;
  color: $white;
  border-left: 0;
  padding: .75em 1em;
  margin: 0;
  @include mq(medium) {
    width: em(340);
    position: absolute;
    left: $baseline*2;
    bottom: 0;
  }
  @include mq(large) {
    font-size: em(18);
    left: $baseline*3;
  }
}

.site-intro-cta {
  width: em(280);
  span {
    font-size:em(21);
  }
  &.active {
    border-bottom:1px solid darken($light-blue, 5%);
  }
}
.site-intro-menu {
  background-color:darken($light-blue,10%);
  text-align:left;
  width:100%;
  overflow:hidden;
  padding: 0 $baseline*3;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
  max-height:0;
  overflow:hidden;
  @include transition (max-height .4s ease-in-out);
  .sim-li-l1 {
    opacity:0;
     @include transition (opacity .6s ease-in-out);
  }
  &.active {
    display:block;
    
    max-height:em(1500);
    opacity:1;
    .sim-li-l1 {
      opacity:1;
    }
  }
  //@include linear-gradient(#0074b6, #00bcde);
  a {
    color:$light-gray;
    font-size:em(18);
    background-image:url(img/ico-raquo.png);
    background-repeat:no-repeat;
    background-position:0 .75em;
    //font-weight:200;
    @include transition (all .15s ease-in-out);

  }
  @include mq(medium) {
    &.active {
       max-height:em(1500);
    }
  }
}
.sim-li-l1 {
    //background-color:Red;
    margin:0;
    padding:$baseline*3 0 ;
    display:block;

    ul {

    }
    li {
      border-top:1px solid darken($light-blue, 5%);
      display:block;

      a {
        padding:$baseline $baseline $baseline $baseline*2;
        display:block;
        font-size:em(21);
        &:hover {
          background-color:rgba(255,255,255,.15);
        }
      }
    }
    @include margin-fix;

    @include mq(medium-only) {
      @include span-columns(6 of 12);
      @include omega(2n);
    }
    @include mq(small) {
      @include span-columns(12 of 12);
    }
    @include mq(large) {
      @include span-columns(3 of 12);
      @include omega(4n);
    }
  }
.sim-title {
  font-size:$base-font-size;
  text-transform:uppercase;
  color:$white;
  font-weight:normal;
  margin-top:.5em;
  opacity:.5;
}
.site-intro-secondary {
  background-color: $light-gray;
  @include mq(medium) {
    background-color: transparent;
    background-image: url(img/site-intro-companies-bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top center;
    left: 0;
    right: 0;
    bottom: 0;
    position:relative;
    z-index:2;
    img {
    	//width:100%;
      margin: 0 auto;
    }
    .inner-wrap {
      //height:em(355);
      padding-top: $baseline*8;
      padding-bottom: $baseline*4;
    }
  }
}
.site-intro-logos {
  @include mq(small) {
     > * {
    @include span-columns(2 of 4);
    @include omega(2n);
    figcaption {
      display:none;
    }
  }
  }
 @include mq(medium) {
   > * {
    @include span-columns(2.4 of 12);
  }
 }
}
.sil-logo {
  position:relative;
  img {
     @include transition (opacity .2s ease-in-out);
  }
  figcaption {
    opacity:0;
    position:absolute;
    bottom:0;
    left:0;
    color:$blue;
    background-color:$white;
    @extend .white-box-shadow;
    padding:$baseline*2 !important;
    background-color:rgba(255,255,255,.65) !important;
    font-size:em(14);
    
    @include transition (opacity .2s ease-in-out);

  }
  &:hover {
    img {
      opacity:.5;
    }
    figcaption {
     // opacity:1;
      
    }
  }
}
.site-intro-secondary-blurb {
  font-size: em(24);
  @include fontlight;
  line-height: 1.25em;
  clear: both;
  margin-bottom: 1em;
}

.site-intro-secondary-selection {
  @include mq(medium) {
    @include span-columns(3 of 12);
  }
}

.secondary-selection-item {
  border-top: $dashed-border;
  display: block;
  padding: 0.44444444444444em 0;
  color: $dark-blue;
}
/*=============== Jobs Feed ===============*/
.job-feed {
  .feed-item-body {
    //font-size:em(14);
  }

}
.jf-item {
  //border:1px solid $white;
  padding:0 0;
  display:block;
  overflow:hidden;
  &:hover {
    //border:$dashed-border;
  }
  
  @include mq(medium) {
    
  }
}
.jf-item-header {
  color: $dark-blue;
  h2 {
      font-size:26px;
      margin-bottom:0 !important; 
    }
    h3 {
      @include fontnormal;
      margin:0;
      color:$gray;
    }
  @include mq(medium) {
    @include span-columns(3 of 12);
    @include margin-fix;
    
  }

}
.jf-item-body {
  color: $gray;
  @include mq(medium) {
    @include span-columns(7 of 12);
    @include margin-fix;
  }
}
.jf-item-apply {
   @include mq(medium) {
    @include span-columns(2 of 12);
    @include margin-fix;
    @include omega;
  }
  .btn, .btn-important {
    font-size:em(12);
    border-bottom:0;
    &:hover {
      border-bottom:0;
    }
  }
}
.job-feed-v2 {
  @include mq(medium) {
    .inner-wrap {
      padding-top:$baseline*3;
      padding-bottom:$baseline*3;
    }
  }
}
.jf-section {
   @include transition (all .2s ease-in-out);
   .inner-wrap {
    border-bottom:$dashed-border;
    //@extend .inner-wrap-narrow;
   }
  &:hover {
    background-color:$light-gray;
  }
  
}

/*=============== Jobs Feed Horiztonal ===============*/
.job-feed-horizontal {
  .jf-item {
    
    @include mq(medium) {
     
      @include margin-fix;
      border-right:$dashed-border;
      padding-right:2.3576515979%;
      &:nth-child(2n) {
        border-right:0;
      }
      > * {
        margin-right:0;
         width:100%;
      }
      &:last-child {
        border-right:0;
      }
    }
  }
  .jf-item-header {
    
    margin-bottom:$baseline*2;
  }
  .jf-item-body {
    
    margin-bottom:$baseline*2;
  }
  .jf-item-apply {
   
  }
} 

.job-feed-short {


  .jf-item {
    
    @include mq(medium) {
      @include span-columns(12 of 12);
      @include margin-fix;
      border-right:0;
      border-bottom:$dashed-border;
      padding-right:0%;
      margin-bottom:$baseline*2;
      padding-bottom:$baseline*2;
      > * {
        margin-right:0;
         width:100%;
      }
      &:last-child {
        border-right:0;
      }
    }
  }
  .jf-item-header {
    
   margin-bottom:$baseline;

    h2, h3 {
      display:inline-block;
      margin-right:.25em;
      font-size:em(21);
      margin-top:0;
    }
  }
  .jf-item-body {
    p {
      font-size:em(16);
    }
    margin-bottom:$baseline*2;
  }
  .jf-item-apply {
    font-size:em(14);
  }
} 


/*=============== Header Tabs ===============*/
$header-tabs-bg:$white;
.header-tabs-section {
  border-bottom:1px solid $dark-blue;
  margin-bottom:$baseline*5;
  background-color:$header-tabs-bg;
  .inner-wrap {
    padding-bottom:0;
  }
}
.header-tabs {
  //font-size:.3em;
  font-size:.3em;
  display: -webkit-flex;
  display: flex;
  > * {
    display:block;
    float:left;
    clear:none;
    @extend h2;
    white-space: nowrap;
    text-align:center;
    padding-left:0 !important;
    padding-right:0 !important;
    margin-top:0;

    &:nth-child(1) {
      
    }
    &:nth-child(2) {
      
    }
    &:nth-child(3) {
     
    }
    &:nth-child(4) {
      
    }
    &:nth-child(5) {
      
    }
  }
  @include mq(medium) {
    font-size:.65em;
  }
  @include mq(large) {
    font-size:1em; 
  }
}

.ht-item {
  margin-bottom:0;
  color:$medium-gray;
  flex-grow: 1;
  float: left;
  border-top:4px solid $header-tabs-bg;
  border-left:1px solid $header-tabs-bg;
  border-right:1px solid $header-tabs-bg;
  border-bottom:2px solid $header-tabs-bg;
  a {
    padding:.5em 8%;
    display:block;
    color:$medium-gray;
  }
  //margin-bottom:-2px;
  //border-radius:5px 5px 0 0;
  &:hover {
    a {
      color:$blue;
    }
  }
  &.active, &.current-menu-item {
    background-color:$white;
    color:$dark-blue;
    border-top:4px solid $blue;
    border-left:1px solid $dark-blue;
    border-right:1px solid $dark-blue;
    border-bottom:4px solid $white;
    margin-bottom:-2px;
    a {
      color:$dark-blue;
    }
  }
  
}
.ht-item-editorial {
  @extend .ht-item;
  //width:19%;
}
.ht-item-engineering {
  @extend .ht-item;
  //width:23%;
}
.ht-item-marketing {
  @extend .ht-item;
  //width:22%;
}
.ht-item-sales {
  @extend .ht-item;
   //width:16%;
}


.menu-item-1101 {
  @extend .ht-item;
   //width:16%;
}
.menu-item-1679{
  @extend .ht-item;
}
.menu-item-1097 {
  @extend .ht-item;
   //width:11%;
}

.menu-item-1098 {
  @extend .ht-item;
  //width:21%;
}

.menu-item-1099 {
  @extend .ht-item;
  //width:18%;
}

.menu-item-1100 {
  @extend .ht-item;
   //width:14%;
}
.menu-item-1647{
   @extend .ht-item;
   //width:18%;
}
.term-editorial {
  .ht-item-editorial {
    @extend .ht-item.active;
  }
}

.term-engineering {
  .ht-item-engineering {
    @extend .ht-item.active;
  }
}

.term-marketing {
  .ht-item-marketing {
    @extend .ht-item.active;
  }
}

.term-sales {
  .ht-item-sales {
    @extend .ht-item.active;
  }
}
/*=============== Jobs Module Footer ===============*/

.jobs-module {
  position:relative;
  //background-color:white;
}
.jobs-module-video {
  margin-bottom: $baseline*3;
  @include mq(large) {
    @include span-columns(6 of 12);
    margin-bottom: 0;
  }
  figcaption {
    font-size:em(21);
    text-align:right;
    margin-top:$baseline*1.5;
  }
}

.jobs-module-feed {
  @include mq(large) {
    padding-left:1em;
    @include span-columns(6 of 12);
   
  }
}

//Feed
.small-feed {

}

.feed-item{
  padding-bottom: $baseline*2;
  margin-bottom: $baseline*2;
  border-bottom: $dashed-border;
  @include margin-fix;
  a {
    color: $dark-blue;
    border-bottom:0;
    &:hover {
     color: $medium-gray;
     border-bottom:0;
    }

  }
}

.feed-item-header {
  font-size: em(18);
  margin-bottom: 0.44444444444444em;
  span {
    @extend .serif;
    color: $blue;
    display: inline-block;
  }
  a {
    color: $dark-blue;
  }
}

.feed-item-body {
  margin: 0;
  color: $gray;
  @include margin-fix;
   p {
      font-size:em(18);
    }
}

//RSS Feeds
.rssincl-entry {
  padding-bottom: $baseline*1.5;
  margin-bottom: $baseline*1.5;
  border-bottom: $dashed-border;
  @include margin-fix;
  a {
    color: $dark-blue;
    border-bottom:0;
    &:hover {
     color: $medium-gray;
     border-bottom:0;
    }

  }
}
.social-module-feed {
  background-repeat:no-repeat;
  background-position:50% 150%;
  background-size:15em;
  @include transition (background .2s ease-in-out);
  &:hover {
     background-position:50% 120%;
  }
  @include mq(large) {
    min-height:em(480);
  }
}
.social-module-feed-twitter {
  @extend .social-module-feed;
  background-image:url(img/ico-twitter-alt.svg);

}
.social-module-feed-blog {
  @extend .social-module-feed;
  background-image:url(img/ico-blog-alt.svg);
}
.social-module-feed-news {
  @extend .social-module-feed;
  background-image:url(img/ico-news-alt.svg);
}
.rssincl-itemdate {
  font-size: em(21);
  margin-bottom: 0.44444444444444em;
   @extend .serif;
    color: $blue;
}
.rssincl-itemtitle {
  color: $gray;
  font-size:em(18);
  margin-bottom:0;
  a {
    @extend .raquo;
  }
}

.cta-link-feed {
  margin-top: $baseline*2;
  margin-bottom: 0;
  text-align:right;
}

.small-feed {
  .feed-item {
    padding-bottom: $baseline*2;
    margin-bottom: $baseline*2;
  }
  .feed-item-header {
    font-size: em(14);
    margin-bottom: 0.44444444444444em;
    span {}
  }
  .feed-item-body {
    font-size: em(14);
    margin: 0;
    color: $gray;
  }
  .cta-link-feed {
    margin-top: $baseline*2;
    margin-bottom: 0;
  }
}

.feed-toggle-head {
  margin-left: -$baseline*3;
  margin-right: -$baseline*3;
  margin-top: -$baseline*3;
  margin-bottom: $baseline*3;
  background: $light-gray;
  display: block;
  overflow: hidden;
}

.feed-toggle-header {
  font-size: em(26);
  @include fontlight;
  color: $dark-blue;
  width: 50%;
  float: left;
  display: block;
  a {
    color: $dark-blue;
    display: block;
    padding: .5em .5em;
    text-align: center;
    &:visited {
      color: $dark-blue;
    }
  }
  span {
    &:after {
      content: '';
      display: inline-block;
      width: 16px;
      height: 16px;
      background-image: url(img/ico-raquo-down.png);
      margin-left: .25em;
    }
  }
  &.active {
    a {
      background-color: $white;
    }
  }
}
/*=============== Video Module ===============*/

.video-module {
  position: relative;
  .inner-wrap {
    //padding-right:em(560);
    padding-top: $baseline*8;
    padding-bottom: $baseline*9;
  }
  &.customer-testimonials {

  }
}

.video-module-figure {
 
  background-image:url(img/video-still-sales.jpg);
  background-position: center center;
  background-repeat:no-repeat;
  background-size:cover;
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  
  overflow: hidden;
  display:block;
  margin: auto !important;
  z-index:1;
  opacity:.25;
  img {
    width: auto;
    display:none;
  }
  @include mq(medium) {
    
  }
  @include mq(large) {
    left: auto;
    width:38%;
    opacity:1;
  }
  @include mq(large) {
    
  }
 
}


/*.video-module-figure {
  
  overflow: hidden;
  img {
    width: auto;
    display:none;
  }
  @include mq(medium) {
    @include span-columns(12 of 12);
  }
  @include mq(large) {
    @include span-columns(5 of 12);
  }
  @include mq(large) {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: auto;
  }
 
}*/

.video-module-body {
  position:relative;
  z-index:2;
  @include mq(medium) {
    @include span-columns(12 of 12);
    margin-top: 0;
  }
  
  @include mq(large) {
    @include span-columns(7 of 12);
    margin-top: 0;
  }
  @include mq(xlarge) {
    @include span-columns(7 of 12);
    margin-top: 0;
  }
 
}

.video-module-cta {
  clear: both;
}

.bottomslant-left-lightblue {
  &:after {
    content: '';
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(img/bottomslant-left-lightblue.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    z-index: 2;
    height: em(82);
  }
}
/*=============== Social Module ===============*/

.white-box-shadow {
  background-color: $white;
  padding: $baseline*3;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, .5);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, .20);
}

.social-module {}

.social-module-blog {
  @extend .white-box-shadow;
  margin-bottom: $baseline*3;
  @include mq(medium) {
    @include span-columns(8 of 12);
    background-image: url(img/blog-mark-k.png);
    background-repeat: no-repeat;
    background-position: right top;
    margin-bottom: 0;
  }
}

.social-module-feed {
  @extend .white-box-shadow;
  > *:last-child {
    margin-bottom: 0;
  }
  @include mq(medium) {
    //@include span-columns(4 of 12);
   // @include shift(.5);
  }
}
.press-release-feed {
    @extend .white-box-shadow;
    .feed-item {
      border-bottom:0;
      padding-bottom:0;
      margin-bottom:0;
      min-height:8em;
    }
}
/*=============== Site Footer ===============*/

.site-footer {
  .inner-wrap {}
  text-align: center;
  @include mq(medium) {
    text-align: left;
    .site-footer-wrap {
      background-image: url(img/thomas-world-map.png);
      background-position: right center;
      background-repeat: no-repeat;
      padding-top: $baseline*12;
    }
    p {
      margin-bottom: $baseline*3;
      font-size:$base-font-size;
    }
  }
  @include mq(large) {
    .inner-wrap {}
    p {
      margin-bottom: $baseline*4;
    }
  }
}

.site-footer-nav {
  ul {
    margin: 0 0 $baseline*4 0;
    padding: 0;
  }
  li {
    display: inline-block;
    margin-right: $baseline*2;
    a {
      color: $dark-blue;
      font-weight: bold;
      font-size:em(19);
      &:visited {
        color: $dark-blue;
      }
      &:hover {
        color: $light-blue;
      }
    }
  }
  @include mq(medium) {
    ul {
      margin: 0 0 $baseline*3 0;
    }
  }
  @include mq(large) {
    ul {
      margin: 0 0 $baseline*4 0;
    }
  }
}

.site-footer-small {
  border-top: 1px dashed $base-border-color;
  padding-top: $baseline*3;
  padding-bottom: $baseline*3;
  p {
    color: #8b9397;
   
  }
  a {
    color: #8b9397;
    border-bottom:0;
    &:visited {
      color: #8b9397;
    }
    &:hover {
      color: $light-blue;
    }
  }
  @include mq(medium) {
    margin-top: $baseline*25;
  }
}

.site-footer-copyright {
  text-align: center;
  @include mq(medium) {
    text-align: left;
    float: left;
  }
}

.site-footer-privacy {
  text-align: center;
  @include mq(medium) {
    text-align: right;
    float: right;
  }
}
/*=============== Javascript Related ===============*/

.headexpand {
  position: relative;
  border-bottom: 1px solid $dark-gray;
  padding: $baseline*1.5 0;
  margin: 0;
  &:hover {
    //background:red;
  }
  &:after {
    position: absolute;
    right: $baseline;
    content: "+";
    margin-left: 1em;
  }
  &.active {
    &:after {
      content: "-";
    }
  }
  @include mq(medium) {
    &:after {
      display: none;
    }
    border-bottom:0;
    padding:0;
    //margin-top:0.92307692307692em;/* Baseline*3 */
    //margin-bottom:0.38095238095238em;/* Baseline */
  }
}

.headexpand-wrap {
  > *:last-child {
    overflow: hidden;
    max-height: 0;
    //display:none;
    @include transition (all .2s ease-in-out);
  }
  > *:last-child.active {
    max-height: 100em;
  }
  @include mq(medium) {
    > *:last-child {
      overflow: visible;
      max-height: none;
      //display:none;
      @include transition (all .2s ease-in-out);
    }
    > *:last-child.active {
      max-height: auto;
    }
  }
}
/*=============== Site Content ===============*/
.site-content {

}
.site-content-primary {
  @include mq(large) {
    @include span-columns(9 of 12);
  }
}

.site-content-secondary {
  @include mq(medium) {
    background-color: red;
  }
  @include mq(large) {
    @include span-columns(3 of 12);
    @include omega;
    background-color: $gray;
    padding: $baseline*3 $baseline*3;
    > *:first-child {
      margin-top: 0;
    }
  }
}/*
.breadcrumbs {
  font-size:em(14);
 // text-transform: uppercase;
 margin-top:-3em !important;
 margin-bottom:2em;
}*/
/*=============== Tables ===============*/

.table {
  display: block;
  width: 100%;
  //margin:0 0 1em 0;
  margin-bottom: $baseline*3;
  background: lighten($light-gray, 12%);
  //font-size:em(14);
}

.thead {
  display: block;
}

.table-row {
  display: block;
  width: 100%;
  //border-bottom:1px solid $gray;
}

.colored-rows {
  .row {
    &:nth-child(2n+1) {
      .cell {}
    }
  }
}

.cell {
  display: block;
  //background-color:$greylight;
  border: .2em solid $white;
  padding: .5em .8em;
  vertical-align: top;
  //color:$blue;
  p {
    //font-size:.95em;
    margin: .5em 0;
  }
  > ul {
    margin: .5em 0;
    > li {
      margin-bottom: 0 !important;
      //font-size:.7em;
      ul {
        padding: 0 0 0 1.8em;
      }
    }
  }
  input,
  select {
    width: 100%;
  }
}

.col {
  display: table-column;
}

.spec-col-1 {
  width: 100%;
  // border-top:1px solid $light-gray;
}

.spec-col-2 {
  width: 100%;
  // border-top:1px solid $light-gray;
}

@include mq(medium) {
  .table {
    display: table;
  }
  .thead {
    display: table-header-group;
  }
  .table-row {
    display: table-row;
  }
  .cell {
    display: table-cell;
    p {
      font-size: em(16);
    }
  }
  .spec-col-1 {
    width: 30%;
  }
  .spec-col-2 {
    width: 70%;
  }
}
/*=============== Product Intro ===============*/

.product-intro {
  h2 {
    //color:$beigedark;
    font-size: em(24);
  }
  margin-bottom:$baseline*3;
}

.product-intro-header {
  //color:$beigedark;
}

.product-intro-img {
  text-align: center;
  @include mq(medium) {
    float: left;
    padding-right: 1em;
    padding-bottom: 1em;
    //@include span-columns(3 of 9);
  }
  @include mq(large) {
    padding: 0;
  }
}

.product-intro-img-additional {
  display: inline-block;
  margin-top: .25em;
  img {
    width: 5em;
    height: auto;
  }
}

.product-intro-info {
  @include mq(medium) {
    //@include span-columns(6 of 9);
  }
  > * {
    margin-top: 0;
  }
  ul,
  p {
    //font-size:em(14);
  }
  @include mq(medium) {
    clear: both;
  }
  @include mq(large) {
    clear: none !important;
  }
}

.product-intro-additional {
  font-size: .75em;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    margin: 0 0 .75em 0;
    padding: 0;
  }
  @include mq(medium) {
    //@include span-columns(2 of 9);
    font-size: .75em;
  }
  > * {
    margin-top: 0;
  }
  @include mq(large) {
    float: right !important;
  }
}
/*=============== Slide in CTA ===============*/

#last {
  padding: 0;
  margin: 0;
}

#slidebox {
  padding: 10px 10px 10px 16px;
  //background-color: #fff;
  //border-top: 3px solid #F7761F;
  position: fixed;
  bottom: 0;
  right: -430px;
  //-moz-box-shadow: -2px 0 5px #aaa;
  // -webkit-box-shadow: -2px 0 5px #aaa;
  //box-shadow: -2px 0 5px #aaa;
  z-index: 1000;
}

a.close {
  //background: transparent url(http://cdn2.hubspot.net/hub/53/file-527841348-gif/close.gif?t=1402397452961) no-repeat top right;
  background-color: white;
  //background-color:rgba(255,255,255,.75);
  color: $blue;
  text-align: center;
  float: left;
  padding: $baseline;
  font-size: em(11);
  border-radius: 3px;
  position: absolute;
  cursor: pointer;
  top: 1.5em;
  right: 2em;
  line-height: 1em;
  //display:none;
}

a.close:hover {
  background-color: rgba(255, 255, 255, .75);
}

@media only screen and (max-device-width: 480px) {
  #slidebox {
    width: 100%;
  }
}

/*=============== Search ===============*/

.search-table {
  display: table;
  width: 100%;
  float: right;
  padding: 0;
}

.search-row {
  display: table-row;
  width: 100%;
}

.search-cell1 {
  display: table-cell;
  padding-right: 0.4375em;
}

.search-cell2 {
  display: table-cell;
  width: 2.1875em;
  border: 0;
}

.search-text {
  font-size: .8em;
  width: 100%;
  height: 2.3em;
  border: 1px solid red;
  float: left;
  padding-left: .5em;
  margin-bottom: 0 !important;
}

.search-submit {
  width: 100%;
  height: 2.3em;
  border: 0;
  float: right;
  background: url(img/ico-search.svg) no-repeat center center !important;
}

.no-svg {
  .search-submit {
    background: url(img/ico-search.png) no-repeat center center !important;
  }
}

@include mq(medium) {
  .site-search {
    width: 100%;
  }
  .search-text {
    height: 2.3em;
  }
  .search-submit {
    height: 2.3em;
  }
}

@include mq(large) {
  .search {}
  .search-text {}
}

.search-module {
  background-color: $dark-blue;
  height: 6em;
  margin-top: -6em;
  border-bottom: $nav-border;
  position: relative;
  z-index: 10000;
  @include transition (all .2s ease-in-out);
  &.active {
    margin-top: 0;
  }
  .inner-wrap {
    padding: 0.3em 1.5em 1em;
  }
}

.search-exit {
  float: right;
  margin-left: 10px;
  margin-bottom: 5px;
  //position:absolute;
  top: 0;
  right: 0;
}






/*=============== Media Text Section ===============*/
.media-text-section {
  background-color:$white;
  overflow:hidden;
  .inner-wrap {
    padding-top:$baseline*4;
    padding-bottom:$baseline*4;
  }
}
.mts-media {
  margin-bottom:$baseline*4;
  @include mq(medium) {
    margin-bottom:0;
    @include span-columns(5 of 12);
  }
}
.mts-body {
  @include mq(medium) {
     @include span-columns(7 of 12);
   @include margin-fix;
  }
}



.white-module {
  background-color:$white;
}






/*=============== Media Text Section ===============*/

.single-job {
  .site-content {
    .inner-wrap {
     
    }
  }
}

.apply-form-module {
  .inner-wrap {
    max-width:45em !important;
  }
}
.apply-form-header {
  @extend h1;
}
/*
.pseudo-btn {
    position: relative;
    overflow: hidden;
   
}
.pseudo-btn input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.wpcf7-form-control-wrap.resume {
  cursor: pointer;
}



.wpcf7-form-control-wrap.resume  {
  position: relative;
    overflow: hidden;
  @extend .btn;
  &:after {
    content:'Upload Resume';
    cursor: pointer;
  }
}

.wpcf7-form-control-wrap.resume  input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.wpcf7-form-control-wrap.cover-letter {
  position: relative;
  overflow: hidden;
  @extend .btn;
  &:after {
    content:'Upload Cover Letter';
    cursor: pointer;
  }
}

.wpcf7-form-control-wrap.cover-letter input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

*/

.wpcf7-form-control-wrap.resume {
  font-size:em(14);
}
.wpcf7-form-control-wrap.cover-letter {
  font-size:em(14);
}
.wpcf7-submit {
  font-size:$medium-font-size !important;
  font-family:$serif !important;
  font-style:italic !important;
}
/*=============== Circles ===============*/

.circle-links-wrap {
  //max-width:em(900);
  margin: 0 auto;
  text-align:center;
}
.circle-links {
  text-decoration: none;
  margin-bottom: 3em;

  @include mq(small) {
  @include span-columns(4 of 8);
  @include omega(2n);

}
  @include mq(medium) {
    @include span-columns(3 of 9);
    @include omega(3n);
  }

  span {
    display: inline-block;
    line-height: 1.25em;
    vertical-align: middle;
    //text-transform:uppercase;
  }

  p {
    font-size: .9em;
    background: $blue;
    color:$white;
    border-radius: 10em;
    padding: 0 2em;
    width: 10em;
    height: 10em;
    margin: 0 auto;
    line-height: 10em;
    @include mq(medium) {
      font-size: 1.4em;
      //padding: 3.1em 2em 0;
      width: 10em;
      height: 10em;
    }
    &:hover {
      background: $dark-blue;
      color: $white;
      @include transition(all .25s ease-in-out);
    }
  }

}



/*=============== Media Text Section ===============*/

.picture-module {
  height:$baseline*60;
  background-position:top center;
  background-repeat:no-repeat;
  background-size:cover;
}






/*=============== Media Text Section ===============*/

@font-face {
  font-family: 'anyoldicon';
  src:url('../fonts/anyoldicon/anyoldicon.eot');
  src:url('../fonts/anyoldicon/anyoldicon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/anyoldicon/anyoldicon.woff') format('woff'),
    url('../fonts/anyoldicon/anyoldicon.ttf') format('truetype'),
    url('../fonts/anyoldicon/anyoldicon.svg#anyoldicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* General grid styles */
.cbp-ig-grid {
  list-style: none;
  padding: 0 0 50px 0;
  margin: 0;
}

/* Clear floats */
.cbp-ig-grid:before, 
.cbp-ig-grid:after { 
  content: " "; 
  display: table; 
}

.cbp-ig-grid:after { 
  clear: both; 
}

/* grid item */
.cbp-ig-grid li {
  width: 33%;
  float: left;
  height: 420px;
  text-align: center;
  border-top: 1px solid #ddd;
}

/* we are using a combination of borders and box shadows to control the grid lines */
.cbp-ig-grid li:nth-child(-n+3){
  border-top: none;
}

.cbp-ig-grid li:nth-child(3n-1),
.cbp-ig-grid li:nth-child(3n-2) {
  box-shadow: 1px 0 0 #ddd;
}

/* anchor style */
.cbp-ig-grid li > a {
  display: block;
  height: 100%;
  color: red;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
}

/* the icon with pseudo class for icon font */
.cbp-ig-icon {
  padding: 30px 0 0 0;
  display: block;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -moz-transform 0.2s;
  transition: transform 0.2s;
  margin-bottom:2em;
  img {
    margin:0 auto;
    display:block;
    width:13em;
    height:auto;
  }
}
/*
.cbp-ig-icon:before {
  font-family: 'anyoldicon';
  font-size: 14em;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.cbp-ig-icon-shoe:before {
  content: "\e000";
}

.cbp-ig-icon-ribbon:before {
  content: "\e001";
}

.cbp-ig-icon-milk:before {
  content: "\e002";
}

.cbp-ig-icon-whippy:before {
  content: "\e003";
}

.cbp-ig-icon-spectacles:before {
  content: "\e004";
}

.cbp-ig-icon-doumbek:before {
  content: "\e007";
}
*/
/* title element */
.cbp-ig-grid .cbp-ig-title {
  margin: 20px 0 10px 0;
  padding: 20px 0 0 0;
  font-size: 2em;
  position: relative;
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  transition: transform 0.2s;
}

.cbp-ig-grid .cbp-ig-title:before {
  content: '';
  position: absolute;
  background: $blue;
  width: 160px;
  height: 6px;
  top: 0px;
  left: 50%;
  margin: -10px 0 0 -80px;
  -webkit-transition: margin-top 0.2s; /* top or translate does not seem to work in Firefox */
  -moz-transition: margin-top 0.2s;
  transition: margin-top 0.2s;
}

.cbp-ig-grid .cbp-ig-category {
  font-size:$medium-font-size;
  display: inline-block;
  @extend .serif;
  color: $dark-blue;
  -webkit-transform: translateY(10px);
  -moz-transform: -moz-translateY(10px);
  -ms-transform: -ms-translateY(10px);
  transform: translateY(10px);
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  -webkit-transition: transform 0.3s, opacity 0.2s;

}

.cbp-ig-grid li:hover .cbp-ig-category,
.touch .cbp-ig-grid li .cbp-ig-category {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}

/* Hover styles */

.cbp-ig-grid li > a:hover {
  background: $light-gray;
}

.cbp-ig-grid li > a:hover .cbp-ig-icon {
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
}

.cbp-ig-grid li > a:hover .cbp-ig-icon:before,
.cbp-ig-grid li > a:hover .cbp-ig-title {
  //color: #fff;
}

.cbp-ig-grid li > a:hover .cbp-ig-title {
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  transform: translateY(-30px);
}

.cbp-ig-grid li > a:hover .cbp-ig-title:before {
  //background: #fff;
  margin-top: 80px;
}


@media screen and (max-width: 62.75em) {
  .cbp-ig-grid li {
    width: 50%;
  }

  /* reset the grid lines */
  .cbp-ig-grid li:nth-child(-n+3){
    border-top: 1px solid #ddd;
  }

  .cbp-ig-grid li:nth-child(3n-1),
  .cbp-ig-grid li:nth-child(3n-2) {
    box-shadow: none;
  }

  .cbp-ig-grid li:nth-child(-n+2){
    border-top: none;
  }

  .cbp-ig-grid li:nth-child(2n-1) {
    box-shadow: 1px 0 0 #ddd;
  }
}

@media screen and (max-width: 41.6em) { 
  .cbp-ig-grid li {
    width: 100%;
  }

  .cbp-ig-grid li:nth-child(-n+2){
    border-top: 1px solid #ddd;
  }

  .cbp-ig-grid li:nth-child(2n-1) {
    box-shadow: none
  }

  .cbp-ig-grid li:first-child {
    border-top: none;
  }
}

@media screen and (max-width: 25em) { 
  .cbp-ig-grid {
    font-size: 80%;
  }

  .cbp-ig-grid .cbp-ig-category {
    margin-top: 20px;
  }
}









/*=============== Bread Crumb Nav ===============*/



.breadcrumbs {   
 
  $base-background-color: white !default;
  $base-spacing: 1.5em !default;
  $action-color: $blue !default;

 
  $breadcrumb-border-color: $base-border-color;
  $breadcrumb-border: 1px solid $breadcrumb-border-color;
  $breadcrumb-height: $base-spacing * 1.5;
  $breadcrumb-arrow-color: $breadcrumb-border-color;
  $breadcrumb-background: $base-background-color;
  $breadcrumb-inactive-hover-color: $breadcrumb-background;
  $breadcrumb-color: $medium-gray;
  $breadcrumb-color-hover: $action-color;
  $breadcrumb-color-active: $breadcrumb-color;
  //margin-top:-1em !important;
  //margin-bottom:2em;
  display:block;
  
  text-align: left;

  a, .breadcrumb_last {
    background-color: $breadcrumb-background;
    border-left: 0;
    border: $breadcrumb-border;
    color: $breadcrumb-color;
    display: inline-block;
    font-size:em(12);
    line-height: $breadcrumb-height;
    margin-bottom: 2px;
    margin-right: -5px;
    padding: 0 ($breadcrumb-height / 4) 0 ($breadcrumb-height / 2);
    position: relative;
    text-decoration: none;

    &:first-child {
      border-bottom-left-radius: $base-border-radius;
      border-left: $breadcrumb-border;
      border-top-left-radius: $base-border-radius;
      padding-left: $breadcrumb-height / 2;
    }

    &:last-child {
      background-color: $breadcrumb-background;
      border-bottom-right-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
      color: $breadcrumb-color-active;
      padding-right: $breadcrumb-height / 2;
    }

    &:focus,
    &:hover {
      background-color: $breadcrumb-inactive-hover-color;
      color: $breadcrumb-color-hover;
    }

    &:after,
    &:before {
      @include position(absolute, 0px auto 0px 100%);
      border-bottom: $breadcrumb-height / 2 solid transparent;
      border-left: $breadcrumb-height / 4 solid transparent;
      border-top: $breadcrumb-height / 2 solid transparent;
      content: '';
      display: block;
      margin: auto;
      z-index: 2;
    }

    &:last-child:after,
    &:last-child:before {
       border: none;
    }

    &:before {
      border-left-color: $breadcrumb-arrow-color;
      margin-left: 1px;
      z-index: 1;
    }
    &:after {
      border-left-color: $breadcrumb-background;
    }

    @include mq(medium) {
      
      padding: 0 ($breadcrumb-height / 2) 0 ($breadcrumb-height / 1.5);
      //float:left;
    }
  }
  .breadcrumb_last {
    background-color:$blue !important;
    color:$white !important;
    border:1px solid $blue !important;
  }
}





/*=============== Page Utility  ===============*/
.addthis_sharing_toolbox {
  > * {
    display:inline-block !important;
  }
  .at-share-tbx-element {
    display:inline-block !important;
  }
 
  @include mq(medium) {
    float:right;
    clear:none !important;
     &:before {
    content:'Share ';
    display:inline-block;
    vertical-align: top;
    margin-right:1em;
    text-transform: uppercase;
    font-size:em(12);
    color:$gray;

  }
  }
}
.page-utility {
  overflow:hidden; clear:both;
  margin-top:-$baseline*3 !important;
  margin-bottom:$baseline*3;
}
.breadcrumbs {
  float:left;
  margin-top:0;
}

/*=============== Our Brands Section ===============*/
.obs-visual {

position:relative;
.img-wrap {
display:block;
position:relative;

&:after {
opacity:0;
content:'';
display:block;
position:absolute; 
top:0; bottom:0; left:0; right:0;

background-repeat:no-repeat;
background-position:50% 50%;
@include transition (all .2s ease-in-out);
}
}


img {
@include img-center;
@include transition (all .2s ease-in-out);
filter: blur(0); /* Someday, sigh ... */ 
-webkit-filter: blur(0); /* Prefixed CSS3 blur filters */
-moz-filter: blur(0); 
-o-filter: blur(0); 
-ms-filter: blur(0); 
filter: url(#blur); /* Firefox needs SVG */
filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='0'); /* IE lte 9 */  

}


&:hover {
img {
filter: blur(5px); /* Someday, sigh ... */ 
-webkit-filter: blur(5px); /* Prefixed CSS3 blur filters */
-moz-filter: blur(5px); 
-o-filter: blur(5px); 
-ms-filter: blur(5px); 
filter: url(#blur); /* Firefox needs SVG */
filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='5'); /* IE lte 9 */  
opacity:.25;
}
.img-wrap {
  &:after {
    opacity:1;
  }
}
}

  figcaption {
    text-align:right;
    margin-top:1em;
    font-size:$medium-font-size;
    a {
      
      font-weight:normal;
      @extend .raquo;
      color:$dark-blue;
      &:hover {
        color:$light-blue;
      }
    }
  }
  @include mq(medium) {
   @include span-columns(5 of 12)
  }
}
.obs-body {
  @include mq(medium) {
   @include span-columns(7 of 12)

  }
}


.obs-visual-thomasnet {
  @extend .obs-visual;
  img {

  }
  .img-wrap {
    &:after {
      background-image:url(img/thomasnet-logo.png);
    }
  }
}
.obs-visual-inbound {
  @extend .obs-visual;
  .img-wrap {
    &:after {
      background-image:url(img/logo-inbound.png);
    }
  }
}
.obs-visual-international {
  @extend .obs-visual;
  .img-wrap {
    &:after {
      background-image:url(img/logo-international.png);
    }
  }
}
.obs-visual-enterprise {
  @extend .obs-visual;
  .img-wrap {
    &:after {
      background-image:url(img/logo-enterprise.png);
    }
  }
}
.obs-visual-rpm {
  @extend .obs-visual;
  .img-wrap {
    &:after {
      background-image:url(img/logo-rpm.png);
    }
  }
}


/*=============== Business Directory Section ===============*/

.business-directory-section {
  p {
    //font-size:em(16);
  }
 // @include span-columns(8 of 12);
}
.bds-item {
    overflow:hidden;
    padding:$baseline*2;
    
    background-color:$light-gray;
  .inner-wrap {
    
    //border-bottom:$dashed-border;
  }
  &:nth-child(2n) {
     background-color:$white;
    .inner-wrap {
     
    }
  }
}
.bds-item-header {
  @include mq(medium) {
    > * {
      margin:0;
      @include fontlight;
      //font-size:em(18);
    }
    @include span-columns(5 of 12);
  }
}
.bds-item-body {
  @extend margin-fix;
  p {
     //font-size:em(16);
  }
  a {

  }
  @include mq(medium) {
    > * {
      margin:0;
    }
    @include span-columns(7 of 12);
  }
}





/*=============== Our People ===============*/
.our-people-section {
  position:relative;
}
.ops-item {
  position:relative;
  cursor: pointer;
  &:hover {
    opacity:.5;
  }
 @include mq(medium) {
   @include transition (all .5s ease-in-out);
  img {
    @include transition (all .5s ease-in-out);
  }
 }
  &.active {
    position:absolute;
    z-index:2;
    width:100%;
    background-color:rgba(14,43,54,.85);
    bottom:0; top:0; right:0; left:0;
    &:hover {
      opacity:1;
    }
    @extend .inner-wrap;
   
    @include mq(medium) {
      img {
        @include span-columns(4 of 12);
      }
    }
    .ops-item-content {
      display:block !important;
     
      
    }
  }
  
}
.ops-item-content {
  float:right;
  color:$white;
  float:left;
  display:none !important;
  @include transition (all .5s ease-in-out);
  @include mq(medium) {
    @include span-columns(8 of 12);
  }
  h2, h3, p {
    color:$white;
  }
}

.ops-item-wrap {
  position:static;
  background-color:$blue;
}




/*=============== Your Peers ===============*/
.your-peers-grid {

}
.your-peers-item {
  padding:3em;
  text-decoration:none;
  border:1px solid $light-gray;
  text-align:center;
  @include mq(large) {
    min-height:em(510);
  }
  > figure {
     max-width:10em;
     margin: 0 auto;
  }
  figure {
    margin-bottom:$baseline*2;

    img {
      display:block;
      margin: 0 auto;
      max-width:100%;
    }
  }
  figcaption {
    color:$dark-gray;
    text-align:center;
    b {
      display:block;
      //color:$green;
      //font-size:1.125em;
      margin-bottom:.25em;
    }
  }
  &:after {
    @include transition (all .2s linear);
    content:'';
    display:block;
    position:absolute;
    
    top:0;
    left:0;
    right:0;
    bottom:0;


  }
  &:before {
    content:'';
    position:absolute;
    display:block;
    left:0;
    right:0;
    bottom:50%;
    top:50%;
    color:$white;
    z-index:2;
    //background-color:red;
    font-size:1.5em;
    //font-weight:bold;
    opacity:0;
    @include transition (opacity .2s linear);
  }
  &:hover {
    //opacity:.25;
    &:after {
      //background-color:rgba(110,180,63,.9);
      background-color:rgba(255,255,255,.9);
    }
    &:before {
      opacity:1;
    }
    .your-peers-hover-text {
      opacity:1;
    }
    .your-peers-testimonial {
      margin-bottom:-8em;
      figure {
      
      img {
        width:8em;
        height:8em;
        
      }
      &:after {
        content:'';
        display:block;
        position:absolute;
         
        height:8em;
        top:0;
        right:0;
        bottom:0;
        left:0;

        background-image:url(http://cdn2.hubspot.net/hub/242200/file-2011909046-svg/img/ico-play.svg);
        background-repeat:no-repeat;
        background-position: center center;
        background-size:1.25em;


      }
    }

    }
  }
}
.your-peers-hover-text {
  opacity:0;
  position:absolute;
  z-index:2;
  position:absolute;
  display:block;
  left:0;
  right:0;
  bottom:50%;
  top:30%;
  font-size:1.5em;
  padding:1em;
  @include transition (opacity .2s linear);
  p {
    color:$dark-gray;
    font-weight:600;
  }
}
.your-peers-testimonial {
  margin-top:$baseline*2;
  position:relative;
  z-index:2;
  @include transition (all .2s linear);
  figure {
    position:relative;
    img {
      width:6em;
      height:6em;
      @include transition (all .2s linear);
      
    }
    &:after {
      content:'';
      display:block;
      position:absolute;
       @include transition (all .2s linear);
      height:6em;
      top:0;
      right:0;
      bottom:0;
      left:0;

      background-image:url(http://cdn2.hubspot.net/hub/242200/file-2011909046-svg/img/ico-play.svg);
      background-repeat:no-repeat;
      background-position: center center;
      background-size:1.25em;

    }
  }
  figcaption {
    font-size:.875em;
  }

}

