// Inner Wrap
/*
This is used to separate sections/modules of the website while still keeping a consistent max-width. Example below:
<section class="about-module">
  <div class="inner-wrap">
    Content here...
  </div>
</section>
*/

.inner-wrap {
  @include outer-container;
  > *:first-child {
    margin-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
  }
  @include pad($baseline*3 $baseline*2 $baseline*3 $baseline*2);
  @include mq(medium) {
    @include pad($baseline*5 $baseline*3 $baseline*5 $baseline*3);
  }
}

// Media Object
.media-object {
  overflow: hidden;
}

.media-object-img {
  width: 20%;
  float: left;
  display: block;
  margin-right: 5%;
  img {
    width: 100%;
  }
}

.media-object-body {
  width: 75%;
  float: left;
}

.media-object-header {
  margin-top: 0;
  margin-bottom: .15em;
}

.media-grid-2 {
  > * {
    margin-bottom: $baseline*2;
  }
  @include mq(medium) {
    > * {
      @include span-columns(4.5 of 9);
      @include omega(2n);
      margin-bottom: $baseline*3;
    }
  }
}


/*=============== Social Media ===============*/

.social-wrap {
  overflow: hidden;
  a {
    display: block;
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
    path {
      @include transition (all .1s linear);
    }
    &:hover {
      opacity: .75;
      path {
        fill: $blue;
      }
    }
  }
  img {
    display: inline-block;
    margin: 0 auto;
    width: 1.1em;
    height: auto;
    vertical-align: middle;
  }
  svg {
    display: inline-block;
    vertical-align: middle;
  }
  /*span {
    background-color:$white;
    border-radius:3px;
    display:inline-block;
    padding:.15em;
    img {
      display:block;
      margin:0 auto;
    }
  }*/
}
/*=============== Slide Panel ===============*/

.slide-panel {
  display: none;
  position: fixed;
  background: $dark-gray;
  color: #fff;
  height: 100%;
  width: em(340);
  right: -em(340);
  top: 14%;
  z-index: 10;
  @include transition (right 0.4s ease-in-out);
  h2 {
    padding: .2em 1em;
  }
  p {
    background: $dark-gray;
    padding: .25px 2em;
  }
  label {
    color: $white !important;
  }
  &:hover {
    right: 0px;
  }
  @include mq(medium) {
    display: block;
  }
}

.slide-panel-button {
  position: absolute;
  top: 50px;
  right: 340px;
  padding: 20px 20px;
  background: $dark-gray;
  min-width: 200px;
}
/*=============== Slide Box ===============*/

#slidebox {
  padding: em(10) em(10) em(10) em(16);
  position: fixed;
  bottom: 0;
  right: -em(430);
  z-index: 1000;
  width: 100%;
  @include mq(medium) {
    width: auto;
  }
}

a.close {
  //background: transparent url(http://cdn2.hubspot.net/hub/53/file-527841348-gif/close.gif?t=1402397452961) no-repeat top right;
  background-color: white;
  //background-color:rgba(255,255,255,.75);
  color: $blue;
  text-align: center;
  float: left;
  padding: 0 $baseline;
  font-size: em(11);
  border-radius: em(3);
  position: absolute;
  cursor: pointer;
  top: 1.5em;
  right: 2em;
  //display:none;
}

a.close:hover {
  background-color: rgba(255, 255, 255, .75);
}
/*=============== Misc ===============*/

hr {
  display: block;
  clear: both;
}

figure {
  margin: 0;
  padding: 0;
}

.wp-pagenavi {
  > * {
    margin-right: .75em;
  }
}

/*=============== Slants ===============*/

.slant-right {
  position:relative;
  .inner-wrap {
    padding-bottom:$baseline*6;
  }
  &:after {
    content:'';
    display:block;
    position:absolute;
    z-index:2;
    height:em(60);
    bottom:0;
    left:0;
    right:0;
    //background-color:red;
    
    background-repeat:no-repeat;
    background-position:bottom center;
    
    
  }
  @include mq(medium) {
   .inner-wrap {
     padding-bottom:$baseline*10;
   }
  }
  @include mq(xlarge) {
    &:after {
      background-size:100% 100%;
    }
  }
}
.slant-left {
  position:relative;
  &:after {
    content:'';
    display:block;
    position:absolute;
    z-index:2;
    height:em(60);
    bottom:0;
    left:0;
    right:0;
    //background-color:red;
    
    background-repeat:no-repeat;
    background-position:bottom center;
    
    
  }
  @include mq(xlarge) {
    &:after {
      background-size:100% 100%;
    }
  }
}
.slant-gray-right {
  @extend .slant-right;
  &:after {
    background-image:url(img/slant-gray-right.png);
  }
}
.slant-gray-left {
  @extend .slant-left;
  &:after {
    background-image:url(img/slant-gray-left.png);
  }
}
.slant-black-right {
  @extend .slant-right;
  &:after {
    background-image:url(img/slant-black-right.png);
  }
}
.slant-black-left {
  @extend .slant-left;
  &:after {
    background-image:url(img/slant-black-left.png);
  }
}
.slant-white-left {
  @extend .slant-right;
  &:after {
    background-image:url(img/slant-white-left.png);
  }
}

.slant-white-right {
  @extend .slant-right;
  &:after {
    background-image:url(img/slant-white-right.png);
  }
}

/*=============== Img text pattern ===============*/
.img-text-item {
  display:block;
  background-color:$blue;
  height:$baseline*20;
  //max-height:$baseline*20;
  position:relative;
  padding:0 1em;
  @include transition (all .2s linear);
  overflow:hidden;
  margin-bottom:$baseline*3;
  border:1px solid $blue;
  &.active {
    background-color:$white;
    
    height:auto;
    //max-height:50em;
    .iti-subcontent {
      opacity:1;
      padding-bottom:$baseline*6;
      @include margin-fix;
    }
    .iti-figure {
        opacity:.10;
      }
    .iti-text {
        span {
         

          &:before {
            content:'- ';
 
          }
        }
      }
    &:hover {
      .iti-figure {
        opacity:.10;
      }
      .iti-text {
        span {
          color: $blue;
          text-shadow: 0 0 0px rgba(255,255,255,0);

         
        }
      }
    }
    .iti-text {
      color:$blue;
    }
  }
  &:hover {
    .iti-figure {
      opacity:1;
    }
    .iti-text {
      span {
        color: transparent;
        text-shadow: 0 0 10px rgba(255,255,255,1);
      }
    }
  }
  @include mq(medium) {
   // @include span-columns(4 of 12);
   //float:left;
   //width:33.3333%;
    
    padding:0 3em;
  }
}
.iti-figure {
  //background-image:url(img/fpo-interns.jpg);
  background-position:top center;
  background-size:cover;
  display:block;
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  top:0;
  opacity:.15;
  @include transition (all .2s linear);
}
.iti-text {
  color:$white;
  text-align:left;
  font-size:1em;
  margin:0;
  line-height:$baseline*20;
  position:relative;
  z-index:1;
  cursor: pointer;
  span {
    display:inline-block;
    font-size:$large-font-size;
    @extend .sans-serif;
    line-height:1em;
    vertical-align: middle;
    @include transition (all .2s linear);
    &:before {
      content:'+';
      display:inline-block;
      width:.95em;
      text-align:center;
    }
  }
  @include mq(medium) {
    span {
      font-size:$xlarge-font-size;
    }
  }
  @include mq(large) {
    span {
      font-size:$display-font-size;
    }
  }
}

.iti-subcontent {
  opacity:0;
  @include transition (all .3s linear);
}
.iti-si-content {
  font-size:$base-font-size;

  @include margin-fix;
  > *, li {
    font-size:16px;
  }
}

//Accordian Tabs
.accordion-tabs-minimal {
  
  $tab-link-color: $dark-gray;
  $tab-border: 1px solid $blue;
  $tab-active-background: $base-background-color;
  $tab-inactive-color: $base-background-color;
  $tab-inactive-hover-color: silver;
  $tab-mode: $medium-screen;

  @include clearfix;
  line-height: 1.5;
  padding: 0;

  li.tab-header-and-content {
    list-style: none;

    @include media($tab-mode) {
      display: inline;
    }
  }

  a.tab-link {
    background-color: $tab-inactive-color;
    border-top: $tab-border;
    color: $tab-link-color;
    display: block;
    font-weight: 400;
    padding: 0 $gutter;
    text-decoration: none;
    
    @include media($tab-mode) {
      @include inline-block;
      border-top: 0;
    }

    &:hover {
      color: $base-link-color;
    }

    &:focus {
      outline: none;
    }

    &.is-active {
      border-bottom: 0;

      @include media($tab-mode) {
        border: $tab-border;
        border-bottom-color: $tab-active-background;
        border-top: 3px solid $blue !important;
        margin-bottom: -1px;
      }
    }
  }

  .tab-content {
    display: none;
   
    width: 100%;

    @include media($tab-mode) {
      border-top: $tab-border;
      float: left;
    }
  }
}




