@mixin fontlight {
  font-family: 'HelveticaNeueLT-Light'; font-weight:normal;
}
@mixin fontnormal{
  font-family: 'HelveticaNeueCE-Roman'; font-weight:normal;
}
@mixin fontbold {
  font-family: 'HelveticaNeueCE-Bold'; font-weight:normal;
}


@font-face {font-family: 'HelveticaNeueCE-Roman';src: url('webfonts/28F6CA_0_0.eot');src: url('webfonts/28F6CA_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/28F6CA_0_0.woff') format('woff'),url('webfonts/28F6CA_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'HelveticaNeueCE-Bold';src: url('webfonts/28F6CA_1_0.eot');src: url('webfonts/28F6CA_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/28F6CA_1_0.woff') format('woff'),url('webfonts/28F6CA_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'HelveticaNeueLT-Light';src: url('webfonts/28F6CA_2_0.eot');src: url('webfonts/28F6CA_2_0.eot?#iefix') format('embedded-opentype'),url('webfonts/28F6CA_2_0.woff') format('woff'),url('webfonts/28F6CA_2_0.ttf') format('truetype');}


body {
  //@include font-feature-settings("kern","liga","frac", "pnum");
  -webkit-font-smoothing: antialiased;
  background-color: $base-background-color;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; // Fix the character spacing for headings
  span {
    font-family: $serif;
    font-weight:normal;
    font-style:italic;
    font-size:1.2em;
  }
  a {
    color:$dark-blue;
  }
}

h1 {
  font-size: $display-font-size;
  font-weight:normal;
  margin-top: 0;
  margin-bottom: 32px;
}

h2 {
  font-size:$xlarge-font-size; // 34px
  margin-top: 24px;
  margin-bottom: 16px;
  color:$blue;
  @include fontlight;
}

h3 {
  font-size: $medium-font-size;
  margin-top: 24px;
  margin-bottom: 16px;
  color:$blue;
  
}

h4 {
  font-size: $medium-font-size;
  margin-top: 16px;
  margin-bottom: 16px;
}

h5 {
  font-size: $base-font-size;
  margin-top: 16px;
  margin-bottom: 16px;
}

h6 {
  font-size: $base-font-size;
  margin-top: 16px;
  margin-bottom: 16px;
}

p {
  margin: 16px 0;
  font-size:em(20);
  @include fontlight;
 
  a {
    @include transition(color 0.1s linear, border 0.1s linear);
    color: $base-link-color;
    text-decoration: none;
     border-bottom:2px solid $base-link-color;
    &:hover {
      color: $hover-link-color;
      border-bottom:4px solid $hover-link-color;
    }
    &:active,
    &:focus {
      color: $hover-link-color;
      outline: none;
    }
  }
}

a {
  @include transition(color 0.1s linear);
  color: $base-link-color;
  text-decoration: none;
  &:hover {
    color: $hover-link-color;
  }
  &:active,
  &:focus {
    color: $hover-link-color;
    outline: none;
  }
}

.serif {
  font-family:$serif;
  font-style:italic;
}
.sans-serif {
  font-family:$sans-serif;
  font-style:normal;
  @include fontlight;
}
hr {
  border-bottom: 1px solid $base-border-color;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $baseline*5 0;
  clear:both;
  display:block;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

abbr, acronym {
  border-bottom: 1px dotted $base-border-color;
  cursor: help;
}

address {
  display: block;
  margin: 0 0 ($base-line-height / 2);
}

hgroup {
  margin-bottom: $base-line-height / 2;
}

del {
  color: lighten($base-font-color, 15);
}

blockquote {
  border-left: 2px solid $base-border-color;
  color: lighten($base-font-color, 15);
  margin: $base-line-height 0;
  padding-left: $base-line-height / 2;
}

cite {
  color: lighten($base-font-color, 25);
  font-style: italic;

  &:before {
    content: '\2014 \00A0';
  }
}

.emph {
  font-size:$large-font-size;
  @include fontlight;
  margin-bottom:24px;
}


//Other
.section-header-v2 {
  @extend h1;
}
.large-header {
  line-height:1.15em;
  //font-weight:bold;
  span {
    @extend .serif;
    font-weight:normal;
  }
  @include mq(medium) {
    font-size:em(58);
    margin-bottom:0.55172413793103em;
    .serif {
      font-size:1.08620689655172em; /*63px/58px*/
    }
  }
}

.medium-header {
  line-height:1.15em;
  font-weight:bold;
  span {
    @extend .serif;
    font-weight:normal;
  }
  @include mq(medium) {
    font-size:em(42);
    margin-bottom:0.55172413793103em;
    .serif {
      font-size:1.08620689655172em; /*63px/58px*/
    }
  }
}

.large-text {
  font-size:$large-font-size;
  line-height:1.41666666666667em;
  //margin-top:1.33333333333333em;
  @include fontlight;
}