$sans-serif: 'HelveticaNeueCE-Roman', Arial, sans-serif;
$serif:TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;

$base-font-family: $sans-serif;
$header-font-family: $base-font-family;

// Sizes
///////////////////////////////////////////////////////////////////////////////
$baseline:em(8);
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.5;


// Font Sizes
$small-font-size: em(14);
$base-font-size: em(16);
$medium-font-size: em(23);
$large-font-size: em(27);
$xlarge-font-size: em(36);
$display-font-size: em(50);

// Line height
$baseline:em(8); //Old habits die hard
$base-line:em(8);
$base-line-height: 1.5;
$header-line-height: 1.25;

// Other Sizes
$base-border-radius: em(3);
$base-spacing: $base-line-height * 1em;
$base-z-index: 0;

// Colors
///////////////////////////////////////////////////////////////////////////////
$white:#fff;
$black:#000;

$gray: #767676;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ecf2f5;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;

$blue: #3b6372;
$dark-blue:#0e2b36;
$light-blue:darken(#00bcde,15%);

// Background Color
$base-background-color: white;

//  Font Colors
$base-font-color: $dark-gray;
$base-accent-color: $light-blue;

// Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: lighten($base-accent-color, 5%);
$base-button-color: $blue;
$hover-button-color: lighten($dark-blue,10%);

// Border color
$base-border-color: #dadada; //$light-gray;
$base-border: 1px solid $base-border-color;
$dashed-border: 1px dashed #dadada;


//Other
$whitetrans:rgba(255,255,255,.15);
@mixin whitetransbg {
	background-color:$white;
	background-color:rgba(255,255,255,.15);
}
@mixin bluetransbg {
	background-color:$dark-blue;
	background-color:rgba(14,43,54,.30);
}

// Forms
$form-border-color: $white;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius:0;
$form-box-shadow: 0;
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;

// Navigation
$nav-font-size:em(16);
$nav-height:em(56);
$nav-background:$dark-blue;
$nav-background-mobile:$blue;
$nav-text-color:$white;
$nav-text-color-hover:$white;
$nav-hover:lighten($nav-background,5%);
$nav-active-background:darken($nav-background, 10%);
$nav-border:1px solid lighten($nav-background,5%);
$nav-border-mobile:1px solid lighten($nav-background-mobile,5%);

$nav-spacing-mobile:$baseline*2;
$nav-spacing-medium:$baseline*2;
$nav-spacing-large:$baseline*4;
$nav-spacing-xlarge:$baseline*4;

$nav-subnav-font-size:em(16);
$nav-subnav-height:em(50);
$nav-subnav-background:$nav-hover;
$nav-subnav-border:1px solid lighten($nav-hover,10%);
$nav-subnav-hover:$dark-blue;

$nav-mobile-width:17em;